<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.compare.compareFilters">
      <filter
            class="edu.refactoring.review.frontend.CompareFilter$RegionFilter"
            filter.description="Ignore refactoring"
            filter.label="Ignore refactoring"
            filter.tooltip="Ignore refactoring"
            id="edu.refactoring.review.frontend.filter.region">
      </filter>
      <contentTypeBinding
            contentTypeId="org.eclipse.jdt.core.javaSource"
            filterId="edu.refactoring.review.frontend.filter.region">
      </contentTypeBinding>
      <filter
            class="edu.refactoring.review.frontend.CompareFilter$AntiRegionFilter"
            filter.description="Ignore non-refactoring"
            filter.label="Ignore non-refactoring"
            filter.tooltip="Ignore non-refactoring"
            id="edu.refactoring.review.frontend.filter.antiregion">
      </filter>
      <contentTypeBinding
            contentTypeId="org.eclipse.jdt.core.javaSource"
            filterId="edu.refactoring.review.frontend.filter.antiregion">
      </contentTypeBinding>
   </extension>

</plugin>
